# https://github.com/streamlit/streamlit/issues/5315
easyocr
streamlit
opencv-python-headless==4.5.5.64
torch==1.12.1
torchvision==0.13.1
Pillow
mmcv-full --no-binary mmcv-full
mmdet==2.25.1
mmocr
paddleocr==2.6
paddlepaddle==2.3.2
mycolorpy==1.5.1
plotly==5.10.0
plotly-express==0.4.1
pytesseract==0.3.10
streamlit_option_menu